a{
    text-decoration: none;
    font-size: 40px;
    color:black;
    padding: 12px;
    text-align: center;
    
}
.sobreMi{
    border-radius: 20px 0 0 0;
}
body{
    margin: 15px;
    padding: 20px;
    background-color: black;
    
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    
}
h3{
    text-align: center;
    font-size: 20px;
    color: white;
}
.foto-perfil{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.parrafo-bienvenida{
    font-size: 20px;
    font-family:monospace;
    border-top: 3px solid white;
    padding: 10px;
    text-align: center;
    color: white;
    width: 600px;

}
figcaption{
    background-color: black;
    width: 246px;
    padding: 5px;
    text-align: center;
    color: white;
}
.discripcion-MiFoto{
    text-align: center;
}
.navegador{
    text-align: left;
    
}
.navegador ul {
    list-style: none;
    display: flex; 
}

.navegador ul li {
    margin-left: 25px;
}

.navegador ul li a {
    text-transform: uppercase;
    font-size: 28px;
    padding: 5px 0;
}

.navegador ul li a:hover,
.navegador ul li a.active {
    color: #a2d9a2; 
}
main {
    flex-grow: 1; 
}

.logo img{
    height: 120px;
    width: auto;
    display: flex;
    justify-content: left;
    border-radius: 15px;
}
.logo{
    position: relative;

    
}
.mi-foto{
    border-radius: 10px;
    text-align: center;
}
.container{
    background-color:  #FFA500;
    color:  #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    Padding: 15px 50px;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

}
.facebook{
    color: white;
    background-color: black;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(243, 147, 4);
}
.instagram{
    color: white;
    background-color: black;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(243, 147, 4);
}
.redes-sociales{
    display: flex;
    justify-content: center;
    gap:100px;
}
.correo{
    text-align: center;
    color: white;
    font-size: 22px;
}
.numero{
    text-align: center;
    color:white;
    font-size: 22px;
}

